
.form-signin {
    max-width: 500px;
    padding-top: 10%;
}

.ltitle {
    font-weight: 700 !important;
}

.signButton {
    background-color: rgb(115, 204, 231) !important;
    color: white !important;
    font-weight: bold !important;
}

.signEmail, .signPass {
    border: none !important;
    background: #F3F4F6 !important;
}

.form-check-input:checked {
    background-color: #010432 !important;
    border: none !important;
}

a {
    color: #010432 !important;
}

a:hover {
    text-decoration: none !important;
}

@media (max-width: 500px) {
    .form-signin {
        padding-top: 30% !important;
        padding-left: 10%;
        padding-right: 10%;
    }
}