.homebody {
  background-color: rgb(243 244 246);
  height: 100%;
}
.vertical {
    position: relative;
    background-color: rgb(243 244 246);
}

.htitle {
  width: 60% !important;
  text-align: left !important;
  left: 20% !important;
  margin-top: 3%;
}

.hsubtext {
  text-align: left !important;
  margin-left: 20%;
}

.hsearchbar {
  width: 60% !important;
    position: relative;
    left: 20%;
    margin-top: 3%;
    height: 3rem !important;
}

.hsuccess {
  top: 50px !important;
}

.loader {
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 3px solid #3498db; 
    border-radius: 50%;
    border-top: 3px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loading {
    background-color: #0d6efd !important;
    pointer-events: none !important;
  }

  @media (max-width: 500px) {
    .htitle {
      width: 80% !important;
      left: 9% !important;
    }
    .hsubtext {
      text-align: center !important;
      margin-left: 0;
      font-size: 1rem !important;
    }
    .hsearchbar {
      width: 85% !important;
      left: 10% !important;
    }
    .label {
      margin-left: 10% !important;
      margin-top: 10% !important;
    }
    .theme-checkbox {
      left: 10% !important;
    }
    .input {
      margin-left: 10% !important;
    }
    .hsuccess {
      top: 30px !important;
    }
  }

  @media (max-width: 1200px) and (min-width: 550px) {
    .hsuccess {
      top: 30px !important;
    }
    .label {
      margin-top: 5% !important;
    }
  }

  .theme-checkbox {
  --toggle-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  left: 20%;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

.input {
  max-width: 190px;
  height: 44px;
  background-color: #05060f0a;
  border-radius: .5rem !important;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  margin-left: 20%;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  margin-left: 20%;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input:focus {
  color: #05060fc2;
}