.vertical {
    position: relative;
    top: 40vh;
}

.hmain {
  width: 50% !important;
}

.fontsizing {
    font-size: 1.3rem;
}

.spacing {
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    top: -2px;
}

.hsearchbar {
  width: 100% !important;
  position: relative;
  left: 0;
  margin-top: 5%;
  height: 4rem !important;
}

.hsearching {
  border: 2px solid black !important;
  border-radius: 0.9rem !important;
  box-shadow: none !important;
  font-size: 1.7rem !important;
  padding-inline-end: 10% !important;
}

.hsearching:active {
  box-shadow: none !important;
}

.hsearching:focus {
  z-index: 0 !important;
}

.henter {
  position: relative;
  font-size: 2rem;
  height: 3.1rem !important;
}

.hsubmitting {
  position: relative;
  right: 5%;
}

.hactualbutton {
  border-radius: 1% 15% 15% 1% !important;
}

.hactualbutton:hover {
  background-color: #0d6efd !important;
  background-color: rgb(63 63 70/1) !important;
  border-color: rgb(63 63 70/1) !important;
}

.loader {
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 3px solid #3498db; 
    border-radius: 50%;
    border-top: 3px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loading {
    background-color: #0d6efd !important;
    pointer-events: none !important;
  }

  .alert-success, .alert-danger {
    margin-top: 3%;
  }

  @media (max-width: 500px) {
    .hmain {
      width: 90% !important;
    }
    .henter {
      height: 3.2rem !important;
    }
  }