.vertical {
    position: relative;
    top: 30vh;
    font-family: 'Inter', sans-serif !important;
}

.form-signin {
    max-width: 500px;
}
.link {
    position: relative;
    bottom: 3vh;
}

.link-underline-primary {
    cursor: pointer !important;
    text-decoration: none;
}

.link-underline-primary:hover {
    text-decoration: underline;
}

.google {
    bottom: 5%;
}

.ltitle {
    font-weight: 700 !important;
}
