

.form-signin {
    max-width: 500px;
}

.link-underline-primary {
    cursor: pointer !important;
    text-decoration: none;
}

.google {
    bottom: 5%;
}

.ltitle {
    font-weight: 700 !important;
}


.logButt:hover {
    opacity: 70%;
    transition: opacity ease 0.3s;
}

.googleLogo {
    position: relative;
}

.moveGoogle {
    position: absolute;
    left: 7%;
    top: 20%;
}

.emailLogo {
    fill: white;
    position: absolute;
    left: 7%;
    top: 34%;
}

.moveEmail {
    position: relative;
}
