.nav-item:hover {
    background-color: var(--bs-primary);
    color: white !important;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
}

.nav-link {
    color: black !important;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
}

.nav-link:hover {
    color: white !important;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
}

.username {
    margin-top: 1% !important;
    right: 2% !important;
}

.ddbutton {
    border: none !important;
    background-color: var(--bs-light);
}
.ddmenu {
    display: block;
    top: 110%;
    right: 12%;
    position: absolute !important;
    border: 1px solid grey !important;
    padding-inline-start: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white !important;
    border-radius: 5%;
    z-index: 1;
}

.ddselect {
    cursor: pointer;
    color: black;
    text-decoration: none !important;
    padding-left: 1rem;
    padding-right: 2rem;
    border-radius: 0%;
    transition: background-color 0.15s ease-in-out;
}

.ddselect:hover {
    color: black;
    background-color: #f8f9fa;
}

.hide {
    display: none;
}

.darrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-bottom: 1%;
    transition: transform 0.15s ease-in-out;
    position: relative;
    left: 5%;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.up {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
  }